<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="indexStylesheet.css">


    <meta charset="UTF-8">
    <title>Welcome to Team Super Awesome's Website</title>
</head>

<body>

<div class="container content s-center padding-64" style="max-width:800px" id="band">
    <h2 class="wide">An Error Occured!</h2>
    <p><span th:text="${message}"></span></p>
    <div class="button">
        <br>
        <a href="/login-page">
            <button class="button You go back to log in page">You go back to log in page</button>
        </a>

    </div>
</div>


<!-- FOOTER START -->

<footer>
    <div class="row">
        <div class="column">
            <h3> </h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class="column">
        </div>

        <div class="column">
        </div>
    </div>

</footer>

<!--FOOTER END-->
</body>

</html>

