#navbar .header #headermenu ul {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#navbar .header #headermenu .headermenubuttons {
    display: inline-block;
    text-align: right;
    margin-right: -1px;
    margin-bottom: 1px;
}

#navbar .header #headermenu {
    position: absolute;
    text-align: right;
    margin-top: auto;
    margin-bottom: 12px;
    right: 0px;
    bottom: 0px;
}

.page {
    max-width: 1330px;
    margin: auto;
    font-family: Montserrat, sans-serif;
    position: relative;
}


#navbar {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 5;
    max-width: 1330px;
    width: 100%;
    display: block;
    height: 108px;
}


#navbar .header #logo {
    margin-right: 100px;
    display: inline-block;
    background-size: contain;
    width: 186px;
}