<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="indexStylesheet.css">


    <meta charset="UTF-8">
    <title>Add Project</title>
</head>

<body>

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">ADD PROJECT</h2>
    <p class="w3-opacity"><i>Add a new project to your project-list</i></p>
</div>

<!-- START ADD PROJECT METHOD -->
<section>
    <div class="w3-center">
        <article>

            <table>
            <tr>
                <th>Project name</th>
                <th>Description</th>
                </tr>

                <tr>

                <form method="POST" th:action="@{/add-project}" th:object="${project}">
                <td><input type="text" th:field="*{project_name}"
                       placeholder="Name"></td>
                <td><input type="text" th:field="*{project_description}"
                       placeholder="Description" size="150"></td>
                    <!--Vil gerne have lavet description input feltet om, så det kan være større (en boks)-->

                <!-- skal ikke have pris, vel?
                <input type="text" th:field="*{project_price}"
                       placeholder="Price">-->

            </tr>
            </table>
            <br>
            <br>

                <button type="reset" class="cancel-button">Clear form</button>
                <button type="submit" class="start-button">Add Project</button>
            </form>
        </article>
        <br>
        <br>
        <!-- Virker ikke endnu
        <a href="/show/">
        <button type="button" class="cancel-button">Go Back</button>
        </a>-->
    </div>
</section>


<!-- FOOTER START -->

<footer>
    <div class="row">
        <div class="column">
            <h3> </h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>

        <div class="column">
        </div>

        <div class="column">
        </div>
    </div>

</footer>

<!--FOOTER END-->
</body>

</html>


<!-- FOOTER START

<footer>
    <div class="row">
        <div class="column">
            <h3>Contact Us</h3>
            <p> <a href="mailto:kea@kea.dk">Email Us Here</a> </p>
        </div>

        <div class="column">
            <h3>About Us</h3>
            <p>Just three classmates who have fun when working on a project together! :)</p>
        </div>

        <div class="column">
            <h3>KEA</h3>
            <p> <a href="https://www.kea.dk" target="_blank">Go visit KEA's website</a> </p>
        </div>
    </div>

</footer>

FOOTER END-->
