<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="indexStylesheet.css">


    <meta charset="UTF-8">
    <title>Create Project</title>
</head>

<body>

<div class="container content center padding-64" style="max-width:800px">
    <h2 class="wide">ADD PROJECT</h2>
    <p class="opacity"><i>Add a new project to your project-list</i></p>
</div>

<!-- START ADD PROJECT METHOD -->
<section>
    <div class="s-center">
        <article>

            <form method="POST" th:action="@{/create-project}" th:object="${project}">

            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>

                <tr>
                        <!--<td hidden><input type="text" th:field="*{project.projectId}"
                                          placeholder="ProjectId"></td>-->

                        <td><input type="text" th:field="*{projectName}"
                                   placeholder="Name" required></td>

                        <td><input type="text" th:field="*{projectDescription}"
                                   placeholder="Description" size="150" required></td>
                </tr>

            </table>

            <br>
            <br>
               <!-- til senere implementering
                <a th:href="|/show/${userId}|">
                    <button class="start-button" type="submit">Go back</button>
                </a> -->

                <button type="reset" class="cancel-button">Clear form</button>
                <button type="submit" class="start-button">Add Project</button>
            </form>

        </article>
        <br>
        <br>

    </div>
</section>


<!-- FOOTER START -->

<footer>
    <div class="row">
        <div class="column">
            <h3> </h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>

        <div class="column">
        </div>

        <div class="column">
        </div>
    </div>

</footer>

<!--FOOTER END-->
</body>

</html>