<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="indexStylesheet.css">


    <meta charset="UTF-8">
    <title>Add Project</title>
</head>

<body>

<div class="container content center padding-64" style="max-width:1000px">
    <h2 class="wide">ADD SUBPROJECT</h2>
    <p class="opacity"><i>Add a new subproject to your subproject-list</i></p>
</div>

<!-- START ADD PROJECT METHOD -->
<section>
    <div class="s-center">
        <article>

            <form method="POST" th:action="@{/create-subproject}" th:object="${subproject}">
                <div th:object="${currentproject}">

                </div>

                <table>
                    <tr>
                        <th>Subproject name</th>
                        <th>Description</th>
                        <th>Senior developer hours</th>
                        <th>Developer hours</th>
                        <th>Graphic designer hours</th>
                    </tr>


                    <tr>
                        <td hidden><input type="text" th:field="*{subprojectId}"
                                          placeholder="Subproject ID"></td>

                        <td hidden><input type="text" th:value="*{projectId}"
                                          placeholder="Project ID"></td>

                        <td><input type="text" th:field="*{subprojectName}"
                                   placeholder="Name" required></td>

                        <td><input type="text" th:field="*{subprojectDescription}"
                                   placeholder="Description"></td>

                        <td><input type="number" th:field="*{subprojectSeniordeveloperHours}"
                                   placeholder="Senior developer hours"></td>

                        <td><input type="number" th:field="*{subprojectDeveloperHours}"
                                   placeholder="Developer hours"></td>

                        <td><input type="number" th:field="*{subprojectGraphicHours}"
                                   placeholder="Graphic designer hours"></td>

                        <!--<td hidden><input type="text" th:field="*{subprojectPrice}"
                                          placeholder="Subproject Price"></td> -->


                        <!--Vil gerne have lavet description input feltet om, så det kan være større (en boks)-->

                    </tr>


                </table>
                <br>
                <br>
                <button type="reset" class="cancel-button">Clear form</button>

                <!-- til senere implementering, hvis der er tid
                <a th:href="|/show-subprojects/${userId}|">
                    <button type="button" class="start-button">Go back</button>
                </a> -->

                <button type="submit" class="start-button">Add subproject</button>
            </form>

            <br>
            <br>

        </article>
        <br>
        <br>
        <!-- Til senere implementering
        <a href="/show/">
        <button type="button" class="cancel-button">Go Back</button>
        </a>-->
    </div>
</section>


<!-- FOOTER START -->

<footer>
    <div class="row">
        <div class="column">
            <h3></h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>

        <div class="column">
        </div>

        <div class="column">
        </div>
    </div>

</footer>

<!--FOOTER END-->
</body>
</html>

