<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="indexStylesheet.css">


  <meta charset="UTF-8">
  <title>Welcome to Team Super Awesome's Website</title>
</head>

<body>

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
  <h2 class="w3-wide">TEAM SUPER AWESOME</h2>
  <h3>WELCOME TO TSA</h3>
  <p class="w3-justify">
    TSA is a platform created to give consumers the opportunity to make projects,
    with a nice overview of what goes into the project.
    With the neat feature within the platform, that makes it possible to estimate what the total cost of the project is gonna be.
    We work closely with Alpha Solutions to get the best product possible.
  </p>
  <div class="button">
    <br>
    <a href="/login-page">
      <button class="button start-button">Start</button>
    </a>
  </div>
</div>


<!-- FOOTER START -->

<footer>
  <div class="row">
    <div class="column">
      <h3> </h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="column">
    </div>

    <div class="column">
    </div>
  </div>

</footer>

<!--FOOTER END-->
</body>

</html>
