<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="indexStylesheet.css">


    <meta charset="UTF-8">
    <title>Welcome to Team Super Awesome's Website</title>
</head>

<body>

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">LOG IN</h2>
    <p class="w3-opacity"><i>Log in if you've already registered</i></p>


    <!--LOG IN METODE HER-->

    <div class="article-box">
        <article>
            <form action="/login" method="GET"> <!--Sender informationer videre herfra til UserController -> /login -->

                <div class="container">

                    <p class="w3-justify">

                        <label for="user_email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="user_email" required id="user_email">
                        <!-- sender email videre til UserController /login-->

                        <label for="user_password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="user_password" required
                               id="user_password">
                        <!--sender password videre til UserController /login-->

                        <button type="submit">Login</button>
                        <!-- virker remember me overhovedet?
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>-->
                    </p>
                </div>
            </form>

        </article>
    </div>

    <!-- END OF LOGIN METHOD -->

</div>


<!-- START OF CREATE USER METHOD -->

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <!--KAN JEG FJERNE ID'ET ELLER LAVE DET OM?-->
    <h2 class="w3-wide">REGISTER</h2>
    <p class="w3-opacity"><i>Register here if you're a new user</i></p>

    <!-- START CREATE USER-->


    <div class="article-box">
    <article>


            <form action="/new-user" method="POST" style="border:1px solid #ccc">
                <p class="w3-justify">
                <div class="container">
                

                    <label for="user_username"><b>Username</b></label>
                    <input type="text" placeholder="Enter username" name="user_username" required id="user_username">

                    <!--//Input skal have et id af den pågældene attribut fra lable-->
                    <label for="user_email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="user_email" required id="user_email">

                    <label for="user_password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="user_password" required
                           id="user_password">

                    <!-- TIL SENERE IMPLEMENTATION.
                    <label>
                        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                    </label>-->

                    <!--SKAL VI LAVE EN TERMS??-->
                    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
                    </p>

                    <div class="clearfix">
                        <!-- SYNES IKKE DER SKAL VÆRE EN CANCEL <button type="button" class="cancelbtn">Cancel</button>-->
                        <button type="submit" class="signupbtn">Sign Up</button>
                    </div>
                </p>
                </div>
            </form>

        </article>
    </div>

    <!-- END OF CREATE USER -->

<!-- FOOTER START -->

<footer>
    <div class="row">
        <div class="column">
            <h3></h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class="column">
        </div>

        <div class="column">
        </div>
    </div>

</footer>

<!--FOOTER END-->


<!-- FORSØG PÅ ALPHA SOLUTIONS NAVBAR
<div id="navbar">
    <div class="header">
    </div>
</div>
<div id="logo">
    <a href="/login-page">
        <img src="logo.jpg" alt="Team Super Awesome Logo">
    </a>
</div>
<div id="headermenu">
    <nav class="headermenubuttons">
        <ul>
            <li>
                <a class="headerchoice" href="/createproject.html"></a>
            </li>
            <li>
                <a class="headerchoice" href="/showprojects.html"></a>
            </li>
            <li>
                <a class="headerchoice" href="/edituser.html"></a>
            </li>
        </ul>
    </nav>
</div>
-->