<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="layoutStylesheet.css">
    <link rel="stylesheet" href="createAccountStylesheet.css">


    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<header>
    <h2>Your Wishlist</h2>
    <picture>
        <img src="logo.jpg" alt="Logo"
             style="width: 90px; float: left; margin-top: -120px">
    </picture>
</header>

<section>
    <nav>
        <ul>

            <li>
                <a href="/login-page">
                    <button type="button" style="background-color: cadetblue">Login</button>
                </a></li>
            <li>
                <a href="/show/{id}">
                    <button type="button" style="background-color: cadetblue">Show Wishlist</button>
                </a></li>
            <li>
                <a href="/add-project">
                    <button type="button" style="background-color: cadetblue">Add Wish</button>
                </a></li>
        </ul>
    </nav>

    <div class="article-box">
        <article>
            <!-- Start CreateAccountStylesheet.css-->

            <form action="/login" method="GET"> <!--Sender informationer videre herfra til PostController -> /login -->
                <!--<div class="imgcontainer">
                     <img src="img_avatar2.png" alt="Avatar" class="avatar"> INDSÆT BILLEDE HER?
                </div>-->

                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required id="email">
                    <!-- sender email videre til PostController /login-->

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required id="password">
                    <!--sender password videre til PostController /login-->

                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <!-- Mangler backend til at virke
                <div class="container" style="background-color:#f1f1f1">
                    <span class="password">Forgot <a href="#">password?</a></span>
                </div> -->
            </form>

            <!-- Slut CreateAccountStylesheet.css-->
        </article>
    </div>
</section>


<!-- FOOTER START -->

<footer>
    <div class="row">
        <div class="column">
            <h3>Contact Us</h3>
            <p> <a href="mailto:kea@kea.dk">Email Us Here</a> </p>
        </div>

        <div class="column">
            <h3>About Us</h3>
            <p>Just three classmates who have fun when working on a project together! :)</p>
        </div>

        <div class="column">
            <h3>KEA</h3>
            <p> <a href="https://www.kea.dk" target="_blank">Go visit KEA's website</a> </p>
        </div>
    </div>

</footer>

<!--FOOTER END-->

</body>
</html>