<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="indexStylesheet.css">


    <meta charset="UTF-8">
    <title>Welcome to Team Super Awesome's Website</title>
</head>

<body>

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">LOG IN</h2>
    <p class="w3-opacity"><i>Log in if you've already registered</i></p>


    <!--LOG IN METODE HER-->

    <div class="article-box">
        <article>
            <form action="/login" method="GET"> <!--Sender informationer videre herfra til UserController -> /login -->

                <div class="container">

                    <label for="userEmail"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="userEmail" required id="userEmail">
                    <!-- sender email videre til PostController /login-->

                    <label for="userPassword"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="userPassword" required id="userPassword">
                    <!--sender password videre til PostController /login-->

                    <button type="submit">Login</button>

                    <!-- REMEMBER USERNAME/EMAIL & PASSWORD BLIVER GJORT AF BROWSEREN -->
                    
                </div>
            </form>

        </article>
    </div>

    <!-- END OF LOGIN METHOD -->

</div>


<!-- START OF CREATE USER METHOD -->

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <!--KAN JEG FJERNE ID'ET ELLER LAVE DET OM?-->
    <h2 class="w3-wide">REGISTER</h2>
    <p class="w3-opacity"><i>Register here if you're a new user</i></p>

    <!-- START CREATE USER-->


    <div class="article-box">
        <article>


            <form action="/new-user" method="POST">
                <p class="w3-justify">
                <div class="container">

                    <label for="userUsername"><b>Username</b></label>
                    <input type="text" placeholder="Enter username" name="userUsername" required id="userUsername">

                    <!--//Input skal have et id af den pågældene attribut fra lable-->
                    <label for="userEmail"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="userEmail" required id="userEmail">

                    <label for="userPassword"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="userPassword" required id="userPassword">


                    <!-- TIL SENERE IMPLEMENTATION.
                    <label>
                        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                    </label>-->

                    <!--SKAL VI LAVE EN TERMS??-->
                    <p>By creating an account you agree to our <a href="#" target="popup" onclick="window.open('/terms','popup','width=600,height=600'); return false;"
                    >Terms & Privacy</a>.
                    </p>

                    <div class="clearfix">
                        <!-- SYNES IKKE DER SKAL VÆRE EN CANCEL <button type="button" class="cancelbtn">Cancel</button>-->
                        <button type="submit" class="start-button">Sign Up</button>
                    </div>
                    </p>
                </div>
            </form>

        </article>
    </div>
</div>

    <!-- END OF CREATE USER -->


    <!-- FORSØG PÅ ALPHA SOLUTIONS NAVBAR
    <div id="navbar">
        <div class="header">
        </div>
    </div>
    <div id="logo">
        <a href="/login-page">
            <img src="logo.jpg" alt="Team Super Awesome Logo">
        </a>
    </div>
    <div id="headermenu">
        <nav class="headermenubuttons">
            <ul>
                <li>
                    <a class="headerchoice" href="/createproject.html"></a>
                </li>
                <li>
                    <a class="headerchoice" href="/showprojects.html"></a>
                </li>
                <li>
                    <a class="headerchoice" href="/edituser.html"></a>
                </li>
            </ul>
        </nav>
    </div>
    -->