<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form  action="/update-subproject" modelAttribute="subproject" method="post">

        <a href="http://www.google.com/">link</a>
            <label for="subprojectName">First name:</label>
            <input type="text" id="subprojectName" name="subprojectName"><br><br>

            <label for="subprojectDescription">Last name:</label>
            <input type="text" id="subprojectDescription" name="subprojectDescription"><br><br>

            <input type="submit" value="Submit">
            <button type="submit" class="button smaller-button">??btg</button>

            <input type="submit" value="Submit"/>
    </form>

</body>
</html>